:root {
  /* this has to be set to switch between light or dark */
  color-scheme: light dark;

  --light-bg: ghostwhite;
  --light-color: darkslategray;
  --light-code: tomato;

  --dark-bg: darkslategray;
  --dark-color: ghostwhite;
  --dark-code: gold;
}
* {
  background-color: light-dark(var(--light-bg), var(--dark-bg));
  color: light-dark(var(--light-color), var(--dark-color));
} html{
    scroll-behavior: smooth;
}

 nav{
    position: fixed;
    inset: 2rem 3rem auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(0.5rem, 2.5vw, 3rem);
} nav a{
    font-size: 40px;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.4s ease;
} nav a:hover{
    color: rgb(0, 213, 255);
} section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
} 